<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="fr">

	<head th:replace="fragment/adminlayout.html :: head"></head>
	<link rel = "stylesheet" href="/css/adminTableau.css">
	<link rel = "stylesheet" href="/css/adminlayout.css">
<body>

	<div th:replace="fragment/adminlayout.html :: sidebar"></div>
	
	<div class="content container py-5 px-5">
		<h2>Crée un équipe</h2>
		<form  method="post" th:action="@{/admin/team/create}" th:object="${team}" enctype="multipart/form-data">
			<input name="id" th:field="*{id}" type="hidden">
			<div class="form-group col-12">
				<label for="team-name">Nom de l'équipe *</label> 
				<input	id="team-name" name="name" placeholder="Séniors 3" required th:field="*{name}" type="text" class="form-control">
			</div>
			<div class="form-group col-6">
				<label for="team-photo">Photo de l'équipe</label> 
				<input id="team-photo" name="image" th:field="*{image}" type="file" class="form-control-file">
			</div>
			<div class="form-group col-12">
				<label for="team-pole">Pôle *</label> 
				<select id="team-pole" name="pole" required th:field="*{pole}" class="form-control">
					<option value="0">--</option>
					<option th:each="pole : ${poles}" th:text="${pole.name}" th:value="${pole.id}">Pole X</option>
				</select>
			</div>
			<div class="d-flex justify-content-between align-items-center">
				<input type="submit" value="Crée" class="btn btn-primary"> 
				<a href="/admin/team"><i class="fas fa-arrow-left"></i> Retour en arrière</a>
			</div>
		</form>
	</div>
</body>
</html>
